%hover-opacity {
  @include pc-layout() {
    transition: opacity 200ms ease-in-out;
    will-change: opacity;
    &:hover {
      opacity: 0.6;
    }
  }
}

%font-light {
  font-family: 'Prompt', sans-serif;
  font-weight: light;
}

%font-medium {
  font-family: 'Prompt', sans-serif;
}

%font-bold {
  font-family: 'Prompt', sans-serif;
  font-weight: bold;
}
